header{
    background-image: url("../img/imagenhotel3.jpg");
    background-size: cover;
    background-position: 20%;
    height: 600px;
    color: rgb(214, 89, 89);
    text-align:justify;
    font-size: 30px;
}


@media (max-width: 1200px){

    header{
        background-size: cover;
        height: 300px;
        font-size: 20px;
        text-align: center;
    }

}

@media (max-width: 700px){

    header{
        background-size: cover;
        height: 200px;
        font-size: 15px;
        text-align: center;
    }

}
    
