body{
    background-color: rgba(204, 231, 249, 0.999);
}

main{
    margin-top: 2%;
    float: left;
    width: 70%;
    height: 1450px;
}

h3{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    padding:20px;
}

aside{
    float: left;
    width: 30%;
    height: 1300px;
    margin-top: 2%;
    text-align: center;
}

aside img{
    margin-top: 15%;
    width: 65%;
    height: 165px;
}

footer{
    clear:both;
}

.cajas{
    background-color: rgb(200, 246, 121);
    border-color: rgb(12, 0, 0);
    border-width: 3px;
    font-family: Times;
    padding: 50px;
    margin:10px;
    box-shadow: 10px 10px 10px rgb(59, 53, 53);
}

 .personales label{
    display: inline-flex;
    list-style: none;
    margin: 1.5px 75px;

}

 .reser label, p{
    display: inline-block;
    list-style: none;
    margin: 1.5px 40px;
}

.acti li{
    display: inline-block;
    list-style: none;
    margin: 1.5px 30px;
}


.extras li{
    display: inline-block;
    list-style: none;
    margin: 1.5px 20px;
}

.terminos{
    text-align: center;
}

.terminos input{
    box-shadow: 15px 15px 15px rgb(59, 53, 53);
    background-color: rgb(238, 247, 144);
    color: rgb(9, 9, 9);
    border-width: 1.5px;
    padding: 10px;
    margin-left: 50px;
}

.terminos input:hover{
    background-color:rgb(126, 198, 228);
    transition: all .3s;
}

.leer{
    text-align: center;
    width: auto;
}

.habitaciones img{
    position:static;
   height: 80px;
   margin: 30px;
   
}

.footer{
  text-align: center;
  padding: 80px;

}
.final{
    display:flex;
}
.infomedio{
    
    width: 40%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}
.info2{
    width: 30%;
    height: 100%;
    text-align: center;
   
}
.info1{
    width: 30%;
    height: 100%;
    text-align: center;
}

.logors{
    width: 60px;
    height: 60px;
    
}

.icono{
    width: 30px;
    height: 30px;
}


@media (max-width:1200px){

    main h2{
        font-size: 130%;
    }
    nav li{
        margin-left: 10%;
    }

    .cajas{
        padding: 1.5%;
        margin: 10px;
        width: 90%;
    }

    .cajas h3{
        font-size: 120%;
    }
    .personales label{
        margin: 0;
        display: inline-flex;
    }

    .reser label{
        margin:0;
    }

    .acti li{
        margin:0;
        display: inline-flex;
    }
    main{
        width:60%;
        padding: 30px;
        margin:none;
        height: 1450px;
    }

    aside{
       float:left;
       width: 40%;
       height: 1200px;
       padding: 30px;
       margin: none;
       
    }

    aside img{
        width: 210px;
        height: 200px;
        /*margin-top: 15%;
        margin-left: 2%;*/
        /*padding: 8px;*/
    }

    .habitaciones img{
        width: 20%;
        height: 10%;
        margin:5%;
    }
    .terminos input{
        margin: 2%;
        font-size: 13px;
        
    }
}

@media (max-width:700px){

    main{
        float: none;
        width: auto;
        padding: 2%;
    }
    aside{
        float:left;
        width: auto;
        height: 30%;
    }

    aside .sponsor img{
        width: 30%;
        margin-top: 4%;
        display: inline;
    }

    main h2{
        font-size: 120%;
    }
    nav li{
        font-size: 12px;
    }

    .cajas{
        width: auto;
        padding: 0;
        margin: 0;
    }

    .cajas h3{
        font-size: 120%;
    }
    .personales label{
        margin: 0;
        display: flex;
        padding: 0.5%;
    }

    .reser label{
        margin:0;
    }

    .acti li{
        margin:0;
        display: inline-flex;
    }

    .habitaciones img{
        height: 80px;
        width: 80px;
        margin:2px;
        
    }

    .footer{
        padding: 2px;
    }


    .terminos input{
        margin: 2%;
        font-size: 10px;
        
    }

    .infomedio{
    
        width: auto;
        height: 100%;
        text-align: center;
        cursor: pointer;
    }
    .info2{
       
        width: auto;
        height: 100%;
        text-align: center;
    }
    .info1{
       
        width: auto;
        height: 100%;
        text-align: center;
    }
    
    .logors{
        width: 30px;
        height: 30px;
        
    }
    
    .icono{
        width: 20px;
        height: 20px;
    }

    h3{
        font-size: 15px;
    }
    .final{
        display: inline;
    }
}